@import "variables"
@import "mixins"

body
  margin: 0 !important
  padding: 0 !important

// Global styles
h1
  margin: 0
  padding: 0
  font-family: Montserrat, serif
  font-weight: bold
  text-transform: uppercase
  color: $white
  font-size: 48px

h2
  font-family: Montserrat, serif
  font-weight: 400
  text-transform: uppercase
  color: $lightDark
  font-size: 20px
  margin: auto
  text-align: center

h3
  margin: 0
  padding: 0
  font-family: Montserrat, serif
  font-weight: bold
  color: $white
  font-size: 24px

h4
  font-family: Montserrat, serif
  font-weight: 400
  text-transform: uppercase
  color: $lightDark
  font-size: 14px
  margin: auto
  text-align: center

h6
  margin: 0
  padding: 0
  font-family: RobotoSlab, serif
  font-weight: 400
  color: $white
  font-size: 20px

span
  margin: 0 auto 40px auto
  font-family: RobotoSlab, serif
  text-align: center
  font-weight: 400
  color: $lightDark
  font-size: 16px

p
  font-family: Montserrat, serif
  font-weight: 400
  color: $lightDark
  font-size: 14px
  margin: 10px auto
  text-align: center

hr
  width: 50px
  height: 1px
  background: $lightDark
  margin: 20px auto 40px auto

ul
  margin: 0
  padding: 0

button
  font-family: Montserrat, serif
  font-size: 16px
  font-weight: 400
  line-height: 24px
  text-transform: uppercase
  padding: 10px 15px
  margin: auto
  border: 2px solid $white
  color: $white
  background: transparent

// Top styles
#top_block
  background-image: url("./assets/logo.png")
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  box-shadow: inset 50vh 50vw 50vmax 50vmax rgba(0, 0, 0, 0.45)
  height: 90vh
  padding: 5vh 10vw
  .header
    display: flex
    flex-direction: row
    .navbar
      display: flex
      flex-direction: row
      margin-right: 0
      margin-left: auto
      li
        display: inline-block
        margin: 0 1vw
        a
          text-decoration: none
          font-family: Montserrat, serif
          font-weight: 400
          font-size: 14px
          letter-spacing: 0.35px
          color: $white
  .main_banner
    display: flex
    flex-direction: column
    justify-content: center
    h1
      margin: 30vh auto 0 auto
    h6
      margin: 2vh auto 8vh auto

.white_path
  padding: 100px
  display: flex
  flex-direction: column

.gray_path
  padding: 100px
  display: flex
  flex-direction: column
  background: $lightGray


.serviceList
  display: flex
  flex-direction: row
  li
    display: block
    margin: auto 20px
    img
      display: block
      margin: 20px auto

.infoAboutUs
  display: flex
  flex-direction: row
  li
    display: block

.infoAboutUs
  p
    font-family: RobotoSlab, serif
    text-align: left
    margin-right: 3vh

.usAvatars
  display: flex
  flex-direction: row
  justify-content: space-between
  position: relative
  margin-top: 50px
  button
    position: absolute
    z-index: 1
    top: 35%
    border: 0
    background: $darkRed
    width: 40px
    height: 40px
    margin: 0
    padding: 0
    hr
      margin: 0
      padding: 0
      width: 20px
      height: 2px
      border: 0
      background: $gray
      margin-left: 10px
      &:first-child
        @include rotateDeg(-45deg)
        margin-bottom: 10px
      &:last-child
        margin-top: 10px
        @include rotateDeg(45deg)
    &:first-child
      right: 0
      hr
        margin-right: 5px
        &:first-child
          @include rotateDeg(45deg)
          margin-bottom: 10px
        &:last-child
          margin-top: 10px
          @include rotateDeg(-45deg)
    &:hover
      cursor: pointer
  li
    display: block
    position: relative
    animation: 0.4s ease-in-out both userTransition
    .socialSrc
      height: 81%
      width: 100%
      background: rgba(0,0,0,0.45)
      position: absolute
      top: 0
      cursor: pointer
    img
      &:hover
        cursor: pointer
